body 
{
	margin:10px;
	margin-left:230px;
	padding:5px;
	color: black;
	background-image:url("pozadina.jpg");
	font-family:Cursive, sans-serif;
	font-size: 1.1em;
	
}


.naslov 
{
	text-align:center;
	font-size: 2em;
	color: Green;
}

.projekti
{
	position:relative;
	top:50px;
	width: 500px;
}

ul  
{
	list-style-type:square;
}



.ukratko
{
	float:right;
	margin:50px;
	font-style:italic;
	text-align:center;
}

.kontakt
{
	position:relative;
	top:150px;
	
}


a:link 
{
    color: black; 
    background-color: transparent; 
    text-decoration: underline;
}

a:hover 
{
    color: green;
    background-color: transparent;
    text-decoration: underline;
}